<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="logeshd.analysed">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sample_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sample_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".common.splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.signup"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".common.login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.takeTour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobSeeker.completeProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobSeeker.viewJobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobSeeker.viewProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.referral"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.database"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.createTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.createChallenge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.shareProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobSeeker.feedback"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".common.terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.tour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobSeeker.dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobSeeker.search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aboutOrganization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.startHiring0"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.resumeSortingTool"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.startHiring"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recruiter.viewStats"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".recruiter.viewSkills"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".recruiter.tasks"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".recruiter.status"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".jobSeeker.viewJobsApplied"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".common.multiSelect"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".common.privacy"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>