<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="logeshd.analysed">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sample_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sample_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="logeshd.analysed.splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="logeshd.analysed.signup"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="logeshd.analysed.login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.takeTour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.profileComplete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.jobListings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.profileView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.referral"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.myDatabase"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.createTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.createChallenge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.shareProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.feedback"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="logeshd.analysed.terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.tour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.completeProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.myJobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.aboutOrganization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="logeshd.analysed.virtualRecruitment"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="logeshd.analysed.resumeSortingTool"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>