<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="logeshd.analysed">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sample_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sample_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".signup"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".takeTour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profileComplete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jobListings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profileView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".referral"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myDatabase"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".createTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".createChallenge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shareProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feedback"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aboutOrganization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".virtualRecruitment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".resumeSortingTool"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".startHiring"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewStats"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".viewSkills"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".myTasks"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".multiSelect"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".viewJobsPosted"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".recruitmentStatus"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>